<main class="container my-3">
  <div class="card p-4 shadow-sm mb-4 w-50 mb-3 mx-auto " id="start-typing" [style]="{'background-color': noteColour, 'background-image': `url(assets/images/${noteBgImage})`}" style="position: relative; background-repeat: no-repeat; background-position: center; background-size: cover;" >
    <h3 class="text-center mb-3">Note App</h3>

    <input type="text" placeholder="Title" [(ngModel)]="noteTitle" class="form-control mb-3" style="background: none;"
      (keyup)="enterPressed($event)" >

    <textarea name="" id="noteArea" placeholder="Enter Note Content Here..." [(ngModel)]="noteContent"
      class="form-control mb-3" rows="4" style="text-align: justify; background: none;"
      ></textarea>

    <button (click)="addNote()" class="btn btn-dark w-100">Add Note</button>
    <hr>

    <div class="d-flex gap-1">
      <button class="btn  btn-sm" (click)="showCanvas()" [style]="{'background-color': noteColour}">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-palette"
          viewBox="0 0 16 16">
          <path
            d="M8 5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3m4 3a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3M5.5 7a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m.5 6a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3" />
          <path
            d="M16 8c0 3.15-1.866 2.585-3.567 2.07C11.42 9.763 10.465 9.473 10 10c-.603.683-.475 1.819-.351 2.92C9.826 14.495 9.996 16 8 16a8 8 0 1 1 8-8m-8 7c.611 0 .654-.171.655-.176.078-.146.124-.464.07-1.119-.014-.168-.037-.37-.061-.591-.052-.464-.112-1.005-.118-1.462-.01-.707.083-1.61.704-2.314.369-.417.845-.578 1.272-.618.404-.038.812.026 1.16.104.343.077.702.186 1.025.284l.028.008c.346.105.658.199.953.266.653.148.904.083.991.024C14.717 9.38 15 9.161 15 8a7 7 0 1 0-7 7" />
        </svg>
      </button>

      <div class="canvas " [ngClass]="canvas ? 'd-block' : 'd-none'">
        <div class="d-flex gap-1">
           @for (item of colors; track $index) {
          <div class="canvas-colour" [style]="{'background-color': item}" [ngClass]="item === noteColour ? 'border border-light' : ''"
            (click)="pickColour(item)">
          </div>
          }
        </div>
         
        
        <div class="d-flex gap-1">
          @for (item of backgroundImages; track $index) {
          <div class="canvas-background" [style]="{'backgroundImage': `url(assets/images/${item})`}" (click)="pickBackground(item)">
          </div>
          }
        </div>
      </div>
    </div>
  </div>

  <!-- Note Display Section -->
  <div class="row g-3">
    @for (item of noteBooks; track $index) {
    <div class="col-md-3 col-sm-6">
      <div class="card h-100 shadow-sm" [style]="{'background-color': item.colour}">
        <div class="card-body">
          <h5 class="card-title">{{item.title}}</h5>
          <p class="card-text">{{item.content}}</p>
          <div class="d-flex justify-content-end gap-2 mt-auto">
            <button class="btn btn-primary btn-sm" (click)="editNote()">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path
                  d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                <path fill-rule="evenodd"
                  d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
              </svg>
            </button>
            <button class="btn btn-danger btn-sm" (click)="delNote($index)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-trash3-fill" viewBox="0 0 16 16">
                <path
                  d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5" />
              </svg>
            </button>

          </div>
        </div>
      </div>
    </div>
    }
  </div>
</main>
<img src="../assets/images/svgexport-29.png" alt="">